* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  min-height: 100vh;
  /* width: 100%; */
  display: flex;
}

/* .sidebar-container {
  min-width: 200px;
} */

.main-container {
  flex-grow: 1;
  width: 100%;
  padding-left: 20px;
}

.shadow {
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}

.text-gray-800 {
  color: #5a5c69;
}


/* Form */

.btn-primary {
  color: #fff;
  background-color: #4e73df;
  border-color: #4e73df;
}

.chart-card {
  width: auto;
  box-sizing: border-box;
  display: flex;
  overflow: hidden;
}

.line-chart {
  min-width: auto;
  box-sizing: border-box;
  /* display: flex; */
}

.charts-row{
  width: auto;
}

.project-heading{
  display: flex;
  color: black;
  /* justify-content: space-between; */
}

.footer{
  height: 100px;
}